<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <h1><%= event.event_name %></h1>
    <h1><%= event.gate_drop.toLocaleDateString() %></h1>
    <h1><%= event.gate_drop.toLocaleTimeString() %> CST</h1>  
    <h2><%= event.venue_name %></h2>
    <h3><%= event.location %></h3>
    <p>Region: <%= event.region %></p>
    <p>Round: <%= event.round_number %></p>
    <p>Triple Crown: <%if(event.triple_crown === 1){%>
       Yes
      <%} else { %>
        No
      <% } %></p>
      <p># of Whoop Sections: <%= event.whoop_section %></p>
      <p># of Sand Sections: <%= event.sand_section %></p>
      <p>Soil Type: <%= event.Event_Soil.type %></p>
      <h1>450SX Main Event Results:</h1>
      <table border = "1">
        <tr>
          <th>Rider</th>
          <th>Position</th>
        </tr>
        <%for(result of results) { %>
        <% if(result.Event_Session.name=='Main Event'  && result.Event_Class.name == '450SX'){%>
          <tr>
            <td><%= result.Rider.name %></td>
            <td><%= result.position %></td>
          </tr>

        <% }%>
        <% } %>
      </table>
      <h1>450SX Qualifying Results:</h1>
      <table border = '1'>
        <tr>
          <th>Rider</th>
          <th>Position</th>
        </tr>
        <%for(result of results) { %>
        <% if(result.Event_Session.name=='Qualifying' && result.Event_Class.name == '450SX'){%>
          <tr>
            <td><%= result.Rider.name %></td>
            <td><%= result.position %></td>
          </tr>

        <% }%>
        <% } %>
      </table>
    <a href="/events">Return to Event Index</a>
    <a href="/events/<%= event.id %>/edit">Edit Event</a>
</html>
